<!doctype html>
<html>
  <head>
    <title>DompetKu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="header-top">
        <h1>💰 DompetKu</h1>

        <div class="header-actions">
          <button id="darkModeBtn" class="btn-dark">🌙</button>

          <a href="/profil" class="logout-btn"> 👤 </a>
          <a href="/logout" class="logout-btn">⎋</a>
        </div>
      </div>

      <div class="card">
        <h3>💰 Saldo Saat Ini</h3>

        <div class="saldo">Rp {{ saldo | rupiah }}</div>

        <div class="summary">
          <div class="summary-item">
            <div class="summary-title">Pemasukan</div>

            <div class="summary-value income">Rp {{ pemasukan | rupiah }}</div>
          </div>

          <div class="summary-item">
            <div class="summary-title">Pengeluaran</div>

            <div class="summary-value expense">
              Rp {{ pengeluaran | rupiah }}
            </div>
          </div>
        </div>
      </div>

      <div class="menu-grid">
        <a href="/tambah" class="btn"> ➕ Tambah Transaksi </a>
        <a href="/target" class="btn"> 🎯 Target </a>
        <a href="/budget" class="btn"> 💸 Budget </a>
        <a href="/export" class="btn"> 📂 Export Excel </a>
        <a href="/backup" class="btn"> 💾 Backup Data </a>
        <a href="/restore" class="btn"> 📥 Restore </a>
        <a href="/kategori" class="btn"> 📂 Kategori </a>
      </div>
      <br /><br />

      <div class="card">
        <h2>📊 Pengeluaran per Kategori</h2>

        <canvas id="kategoriChart"></canvas>
      </div>
      <div class="card">
        <h2>Riwayat Transaksi</h2>

        {% for t in transaksi %}

        <div class="transaction-card">
          <div class="transaction-top">
            <div>
              <h3>{{ t[3] }}</h3>

              <small>{{ t[1] }}</small>
            </div>

            <div>
              {% if t[2] == "Pemasukan" %}

              <span class="income-text"> + Rp {{ t[4] | rupiah }} </span>

              {% else %}

              <span class="expense-text"> - Rp {{ t[4] | rupiah }} </span>

              {% endif %}
            </div>
          </div>

          <p>{{ t[5] }}</p>

          <a href="/hapus/{{ t[0] }}" class="delete-btn"> Hapus </a>
        </div>

        {% endfor %}
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

      const labels = {{ labels | tojson | safe }};
      const values = {{ values | tojson | safe }};

      const ctx = document.getElementById("kategoriChart");

      new Chart(ctx, {

          type: "doughnut",

          data: {

              labels: labels,

              datasets: [{
                  label: "Pengeluaran per Kategori",
                  data: values,
                  backgroundColor: [
                      "#10B981",
                      "#3B82F6",
                      "#F59E0B",
                      "#EF4444",
                      "#8B5CF6",
                      "#06B6D4",
                      "#F97316"
                  ]
              }]
          },

          options: {
              responsive: true,
              plugins: {
                  legend: {
                      position: "bottom"
                  }
              }
          }

      });
    </script>
    <div class="bottom-nav">
      <a href="/">
        🏠
        <span>Home</span>
      </a>

      <a href="/target">
        🎯
        <span>Target</span>
      </a>

      <a href="/budget">
        💸
        <span>Budget</span>
      </a>

      <a href="/tambah">
        ➕
        <span>Tambah</span>
      </a>
    </div>
    <script>
      const btn = document.getElementById("darkModeBtn");

      if (localStorage.getItem("darkMode") === "true") {
        document.body.classList.add("dark");
      }

      btn.addEventListener("click", () => {
        document.body.classList.toggle("dark");

        localStorage.setItem(
          "darkMode",
          document.body.classList.contains("dark"),
        );
      });
    </script>
  </body>
</html>
